.buttonRow {
  /* fix overflow caused by sr-only */
  position: relative;

  white-space: nowrap;
  overflow-x: auto;

  margin-left: -1.5rem;
  margin-right: -1.5rem;
  margin-bottom: -1.5rem;

  padding: 1.5rem;
}
